.error {
  color: $off-white;
  font-weight: 400;
  font-size: 2rem;
  padding: $m-size;
  font-style: italic;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;
}

.add-option__input {
 flex-grow: 1;
 border: none;
 color: white;
 background: $dark-blue;
 border-bottom: .3rem solid darken($dark-blue, 10%);
 margin: 0 0 $m-size 0;
 padding: $m-size;
}

@media (min-width: $breakpoint) {
  .add-option {
    flex-direction: row;
  }
  .add-option__input {
    margin: 0 $m-size 0 0;
  }
}