.big-button {
  background: $off-blue;
  border: none;
  border-bottom: .6rem solid darken($off-blue, 10%);
  color: white;
  font-weight: bold;
  font-size: $l-size;
  width: 100%;
  margin-bottom: $xl-size;
  padding-bottom: 2.4rem;
  padding-top: 2.4rem;
}

.big-button:disabled {
  opacity: 0.5;
}

.button {
  background: $off-blue;
  border: none;
  border-bottom: 0.3rem solid darken($off-blue, 10%);
  color: white;
  font-weight: 500;
  padding: $m-size;
}

.button--link {
  background: none;
  border: none;
  color: $off-white;
  padding: 0;
}