
.header {
  background: $off-blue;
  margin-bottom: $xl-size;
  padding: $m-size 0;
  color: $white;
}

// BEM block element modifier structure
.header__title {
  font-size: $l-size;
  margin: 0;
}

.header__subtitle {
  color: $off-white;
  font-size: $m-size;
  font-weight: 500;
}