// Colors

$off-blue: #536cda;
$off-white: #a5afd7;
$blue: #3c4c5b;
$light-blue: #464b5e;
$dark-blue: #333745;
$white: rgba(255, 255, 255, 0.918);
$breakpoint: 45rem;

// Spacing

$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;